{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form action="" method='post'>
            {{ form.hidden_tag() }}
            <fieldset class='form-group'>
                <legend class='border-bottom mb-4'>Edit your Profile</legend>
                <p>
                {{ form.username.label }}<br>
                {{ form.username(type="text", class="form-control") }}<br>
                {% for error in form.username.errors %}
                <span style='color: red;'>[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.about_me.label }}<br>
                {{ form.about_me(type="text", class="form-control") }}<br>
                {% for error in form.about_me.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            </fieldset>
            <div>
                {{ form.submit(class='btn btn-outline-info') }}
            </div>
        </form>
    </div>
{% endblock content %}