<div class="media">

    <img class="rounded-circle article-img" src="{{ post.author.avatar(64) }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('main.user', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ moment(post.timestamp).fromNow() }}</small>
        </div>
        {% if post.title %}
            <h3 class='article-title'>{{ post.title }}</h3>
        {% endif %}
        <p class="article-content">
            {% if post.body_html %}
                {{ post.body_html | safe }}
            {% else %}
                {{ post.body }}
            {% endif %}
        </p>
    </div>
</div>
